#### Grab Rows, Points, and Subsets From DataFrame

In [1]:
import pandas as pd
import numpy as np
#import csv file
my_df =pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [ ]:
# grab row using Location
my_df.loc[2] 
#NOTE: loc[] - contains name of row

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [3]:
# grab row using index Location
my_df.iloc[3]
#NOTE: iloc[] - contains index of row

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [4]:
#Specific Points (row and column)
#my_df.loc['Row', 'COLUMN']

my_df.loc[1,'DogName']

'TACODA'

In [7]:
#Subsets
#my_df.loc[['row', 'row'], ['column','column']]
my_df.loc[[3,1],['Breed','DogName']]

          Breed DogName
3         MIXED   ARROW
1  GER SHEPHERD  TACODA