In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df =pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [ ]:
# add column from list
gender =["male","male","female","male","female"]  # NOTE this must match the no. of rows
my_df["gender"] = gender
my_df

                 Breed        Color  DogName  OwnerZip  gender
0             COCKAPOO        BROWN  CHARLEY     15236    male
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238    male
2        BELG MALINOIS      BRINDLE     EICH     15238  female
3                MIXED  BLACK/BROWN    ARROW     15104    male
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  female

In [7]:
# add default values
my_df['Alive']=[True]*len(my_df)
my_df

                 Breed        Color  DogName  OwnerZip  gender  Alive
0             COCKAPOO        BROWN  CHARLEY     15236    male   True
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238    male   True
2        BELG MALINOIS      BRINDLE     EICH     15238  female   True
3                MIXED  BLACK/BROWN    ARROW     15104    male   True
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  female   True

In [8]:
# add nan(null) value
my_df["show dog"]= [np.nan]*len(my_df)
my_df

,Breed,Color,DogName,OwnerZip,gender,Alive,show dog
0,COCKAPOO,BROWN,CHARLEY,15236,male,True,NaN
1,GER SHEPHERD,BLACK/BROWN,TACODA,15238,male,True,NaN
2,BELG MALINOIS,BRINDLE,EICH,15238,female,True,NaN
3,MIXED,BLACK/BROWN,ARROW,15104,male,True,NaN
4,AM PIT BULL TERRIER,WHITE/BROWN,OAKLEY,15139,female,True,NaN

In [11]:
# add column with .inser() - allows position 
my_df.insert(1,"Adoptedd",[True]*len(my_df))
my_df

,Breed,Adoptedd,Adopted,Color,DogName,OwnerZip,gender,Alive,show dog
0,COCKAPOO,True,True,BROWN,CHARLEY,15236,male,True,NaN
1,GER SHEPHERD,True,True,BLACK/BROWN,TACODA,15238,male,True,NaN
2,BELG MALINOIS,True,True,BRINDLE,EICH,15238,female,True,NaN
3,MIXED,True,True,BLACK/BROWN,ARROW,15104,male,True,NaN
4,AM PIT BULL TERRIER,True,True,WHITE/BROWN,OAKLEY,15139,female,True,NaN

In [12]:
# add column with assign 
my_df =my_df.assign(Horse=[False]*len(my_df))
my_df

,Breed,Adoptedd,Adopted,Color,DogName,OwnerZip,gender,Alive,show dog,Horse
0,COCKAPOO,True,True,BROWN,CHARLEY,15236,male,True,NaN,False
1,GER SHEPHERD,True,True,BLACK/BROWN,TACODA,15238,male,True,NaN,False
2,BELG MALINOIS,True,True,BRINDLE,EICH,15238,female,True,NaN,False
3,MIXED,True,True,BLACK/BROWN,ARROW,15104,male,True,NaN,False
4,AM PIT BULL TERRIER,True,True,WHITE/BROWN,OAKLEY,15139,female,True,NaN,False