#### How To Make Conditional Selections

In [1]:
import pandas as pd
import numpy as np
#import csv file
my_df =pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [2]:
# Conditional Selection
# > < = < = etc
# Return Booleans

my_df =='BROWN'

   Breed  Color  DogName  OwnerZip
0  False   True    False     False
1  False  False    False     False
2  False  False    False     False
3  False  False    False     False
4  False  False    False     False

In [ ]:
# return data frame with data
my_df[my_df =='BROWN']

  Breed  Color DogName  OwnerZip
0   NaN  BROWN     NaN       NaN
1   NaN    NaN     NaN       NaN
2   NaN    NaN     NaN       NaN
3   NaN    NaN     NaN       NaN
4   NaN    NaN     NaN       NaN

In [ ]:
# run them on a column
my_df[my_df =='BROWN']['Color']

0    BROWN
1      NaN
2      NaN
3      NaN
4      NaN
Name: Color, dtype: object

In [7]:
# return multiple column
my_df[my_df =='BROWN'][['Color','Breed']]

   Color Breed
0  BROWN   NaN
1    NaN   NaN
2    NaN   NaN
3    NaN   NaN
4    NaN   NaN