In [3]:
import pandas as pd

### Basics

In [4]:
# Pandas series like a table column - 1D arraty holding any type of data

my_series = [2,5,7,99,10]
my_var = pd.Series(my_series)
print(my_var)

0     2
1     5
2     7
3    99
4    10
dtype: int64

In [5]:
# print specific value

my_var[3]

np.int64(99)

In [7]:
# labels using index augment
my_index= ['i','ii','iii','iv','v']
my_var2=pd.Series(my_series,index=my_index)
print(my_var2)

i       2
ii      5
iii     7
iv     99
v      10
dtype: int64

In [12]:
print(my_var2['iii'])
print(my_var2[4])

7
10

C:\Users\Nirmal\AppData\Local\Temp\ipykernel_20352\4230674346.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(my_var2[4])

In [14]:
#key value dictionaries

cars= {"tesla":12,"mercedes":42,"bmw":3}
my_var3 = pd.Series(cars)
my_var3

tesla       12
mercedes    42
bmw          3
dtype: int64

In [16]:
print(my_var3['tesla'])

12